.login-box{
  background-image: url(../img/registro/fondo-cupcakes.png);
  background-size: cover;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
 
}

/* .boton-primario.registro,
.boton-secundario.registro{
width: 170px; 
}
.errorlogin{
text-align: center;
font-size: 15px;
} */
h1{
  font-size: 7vw;
}

h2{
color: black;
}

.title-login{
  color: var(--rosa-obscuro);
}

.card-logo{
border-color:transparent;
background-color: var(--rosa-3);
}

.card-registration{
background-color: var(--rosa-3);
border-radius: 10rem;
align-items: center;
}

/*VALIDACION*/
/*cambia color de borde
dependiendo la validación*/
.error input {
  border:2px red solid;
}

.success input {
  border:2px green solid;
}

/*Esconde iconos de validación*/
.form-outline i {
   position:absolute;
   right:25px;
   top:8px;
   visibility: hidden;
}

/*muestra iconos al ser el caso validado*/
.success i.fa-check-circle{
  font-size: 24px;
   visibility: visible;
   color:green;
}

.error i.fa-exclamation-circle {
 font-size: 24px;
  visibility: visible;
  color:red;
}

/*esconde mensaje de error*/
.form-outline p {
   font-size: 14px;
   padding-left: 20px;
   color:red;
   visibility: hidden;
}

/*muestra mensaje de error al validar error*/
.error p {
   visibility: visible;
   padding-top: 40px;
   font-weight: bold;
}

.error .label-name{
top: -3rem;
font-size: 16px;
left: 1.5rem;
background-color: var(--rosa-3);
}
/*Efecto inputs*/
/*---------------------------------------------------*/
.form-outline{
position: relative;
height: 4rem;
width: 330px;
background-color: var(--blanco-kitty);
border-radius: 2rem;
}

.form-input{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 1px solid var(--rosa-kitty);
border-radius: 2rem;
font-family: inherit;
font-size: 16px;
color: black;
outline: none;
padding: 1.25rem;
padding-left: 1.5rem;
background: none;
padding-top: 1.7rem;
}

.form-input:hover{
border:2px solid var(--rosa-kitty);

}

.form-input:focus{
border: 2px solid var(--rosa-obscuro);
}
.label-name{
position: absolute;
font-size: 14px;
top: -1rem;
left: 1rem;
border-radius: 2rem;
padding: 0 0.5rem;
color: var(--rosa-obscuro);
cursor: text;
transition: top 200ms ease-in,
left 200ms ease-in,
font-size 200ms ease-in;
background-color: var(--rosa-3);
}

.form-input:focus ~ .label-name, 
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .label-name{
top: -3rem;
font-size: 16px;
left: 1.5rem;
background-color: var(--rosa-3);
}

/*-----------------------------------------*/
.form-check{
text-align: center;
}

/*Icono de Ojo*/
.btn-password{
background-color: transparent;
border: transparent;
margin-top: 10px;
margin-left: auto;
z-index: 0;
}

.icon{
color: black;
}

#label-contra{
padding-top: 9px;
}
/*----------------------------------*/

/* @media only screen and (max-width: 1230px)  {

.container-registro{
  align-items: center;
}
.title-login{
  color: var(--rosa-obscuro);
  font-size: 90px;
}

} */


@media (max-widht:480px){
  form{
    width: 100%;
  }
}


/* @media only screen and (max-width: 1050px)  {

.container-registro{
  align-items: center;
}
.title-login{
  color: var(--rosa-obscuro);
  font-size: 80px;
}

}

@media only screen and (max-width: 768px)  {

.container-registro{
  align-items: center;
}
.title-login{
  color: var(--rosa-obscuro);
  font-size: 60px;
}

}
 */
@media only screen and (max-width: 200px) {
.title-login{
  color: var(--rosa-obscuro);
  font-size: 20px;
}
.subtitle-signup{
  font-size: 30px;
}
/*muestra iconos al ser el caso validado*/
.success i.fa-check-circle{
  font-size: 20px;
   visibility: visible;
   color:green;
}

.error i.fa-exclamation-circle {
 font-size: 20px;
  visibility: visible;
  color:red;
}
}