:root {
    /* colores */
    --rosa-obscuro: #F3687B;
    --rosa-kitty: #FA94A2;
    --rosa-2: #EFBBBB;
    --rosa-3: #FFD1CE;
    --rosa-4: #FFE8EC;
    --blanco-kitty: #FFF8FA;
    --gris-kitty: #32322E;    
}
.banner {
    height: 130px;
    background-image: url("../img/Baner_tienda.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;

}
.titlo {
    width: 500px;
    height: 130px;
}

.imgProdct{
    width: 400px;
    height: 365px;
}

.bodycard {
    background-color: var(--blanco-kitty);
    width: 400px;
    border-radius: 40px;
}

.linea {
    border-bottom: 4px solid var(--rosa-obscuro);
}

.text-product {
    font-size: 24px;
}

.boton {
    width: 170px;
    height: 40px;
    background-color: var(--rosa-kitty);
    color: white;
}


.boton:hover {
    border-color: var(--rosa-obscuro);
    background-color: var(--rosa-obscuro);
    color: white;    
}
/* y esto otro es para las sobras de las fotos de los productos*/

.container .row img{
    filter: drop-shadow(0.4rem 0.4rem 0.6rem var(--rosa-2));
    border-radius: 40px;
}
