@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,100&display=swap');

:root {
    /* colores */
        --rosa-obscuro: #F3687B;
        --rosa-kitty: #FA94A2;
        --rosa-2: #EFBBBB;
        --rosa-3: #FFD1CE;
        --rosa-4: #FFE8EC;
        --blanco-kitty: #FFF8FA;
        --gris-kitty: #32322E;    
}

   .container-contáctanos{

       display: flex;
       align-items: center;
       justify-content: center;
       width: auto;
       height: 217px;
       background-image: url(../img/fondo-h1.jpg);
       background-size: cover;
       opacity: 0.6;
       
   }

   .texto-contáctanos{
        opacity: none;
        color: var(--rosa-obscuro);
        font-family: 'Baloo Bhai 2', cursive;
        font-weight: bold;
        font-size: 100px;  
   }
 
   .containerform{ 
        border-radius: 40px;
       display: block;
       background-color: var(--rosa-3);
       width: 80%;
       height: 612;
       margin-left: auto;
       margin-right: auto;
       margin-top: 30px;
       margin-bottom: 30px;
      
   }

   form {
        display: block;
        width: 100%;
        padding: 10px 10px;
   }
   /* ::placeholder { 
       color: var(--rosa-3); 
       font-family: 'Montserrat', sans-serif;
       font-size: 12px;          
     
     } */
   form .contenido {
        display: block;
        position: relative;
        width: calc(90%);
        height: auto;
        margin: 10px auto;
        padding: 30px 10px 10px;
   }

   form .contenido label {
        display: block;
        position: absolute;
        width: auto;
        top: 10px;
        left: 50px;
        padding: 5px 5px;
        border-radius: 20px;
        background-color:  #FFE8EC;
   }
   
   form .contenido input {
        align-items: center;
        display: block;
        border: 1px solid var(--rosa-kitty);
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        height: 100%;
   }
    
   

   .boton-primario {
        background-color: var(--rosa-kitty);
        border: none;
        border-radius: 6px;
        color: white;
        padding: 11px 34px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        margin: 10px auto;
   }

   .boton-primario:hover {
        background-color: var(--rosa-obscuro);
}

   .icono{
        width: 32px;
        height: 32px;
        margin-bottom: 24px;
        margin-left: 28px;
   }
   .contacto-bloque{
        margin-top: 60px;
        margin-bottom: 60px;
   }
   .info-contacto{
        margin-bottom: 24px;
        margin-left: 10px;
        font-family:  'Montserrat', sans-serif;
        font-size: 20px;
   }

@media screen and (min-width: 480px) and (max-width: 780px) {
     .texto-contáctanos{
          font-size: 32px;
     }
     .contacto-bloque{
          margin-top: 60px;
          margin-bottom: 60px;
     }
   }
