@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,100&display=swap');

:root {
    /* colores */
        --rosa-obscuro: #F3687B;
        --rosa-kitty: #FA94A2;
        --rosa-2: #EFBBBB;
        --rosa-3: #FFD1CE;
        --rosa-4: #FFE8EC;
        --blanco-kitty: #FFF8FA;
        --gris-kitty: #32322E;    
}

   .header-contáctanos{   
     position: relative; 
     display: flex;
     max-width: 100%;
     display: inline-block;
     text-align: center;
     padding: 0 0 0 0;
     margin-bottom: 90px;

 
 }
 
 .texto-contáctanos {
     font-family: 'Baloo Bhai 2';
     color: var(--rosa-obscuro);
     position: absolute;
     top: 42%;
     left: 50%;
     transform: translate(-50%, -50%);
     
 }
 
   .containerform{ 
        border-radius: 2rem;
       display: block;
       background-color: var(--rosa-3);
       width: 80%;
       height: 612;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 90px;
   }

   form {
        display: block;
        width: 100%;
        padding: 10px 10px;
   }
   ::placeholder { 
     
       font-family: 'Montserrat', sans-serif;
       font-size: 14px;          
     
     }
   form .contenido {
        display: block;
        position: relative;
        width: calc(90%);
        height: auto;
        margin: 10px auto;
        padding: 30px 10px 10px;
   }

    form .contenido label {
        display: block;
        position: absolute;
        font-size: 14px;
        color: var(--rosa-obscuro);
        font-family: 'Montserrat', sans-serif;
        width: auto;
        top: 10px;
        left: 25px;
         padding: 4px 5px; 
        border-radius: 2rem;
        background-color:  var(--rosa-3);
   } 
   

   .form-control:focus ~ .contenido label, 
   .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .contenido label{
     top: -3rem;
     font-size: 16px;
     left: 1.5rem;
     background-color: var(--rosa-3);
   } 

   form .contenido input {
        align-items: center;
         display: block; 
        border: 1px solid var(--rosa-kitty);
        font-size: 14px;
        color: var(--rosa-obscuro);
        border-radius: 2rem; 
        padding: 10px 10px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        height: 100%;
        outline: none;
   }
   form .contenido input:hover{
     border-color: var(--rosa-kitty);
   }
   
   form .contenido input:focus{
     border-color:   var(--rosa-obscuro) ;
   } 


   .boton-primario {
        background-color: var(--rosa-kitty);
        border: none;
        border-radius: 6px;
        color: white;
        padding: 11px 34px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        margin: 10px auto;
   }

   .boton-primario:hover {
        background-color: var(--rosa-obscuro);
}
.contacto-bloque{
     align-items: center;
     justify-content: center;
}
   .icono{
       
        margin-bottom: 24px;
        margin-left: 28px;
   }
   
   .info-contacto{
     font-size: 1.8rem;
     font-family: 'Montserrat', sans-serif;
     padding-left: 10px;
   }
  


   @media screen and (min-width: 480px) and (max-width: 780px) {
     .texto-contáctanos{
          font-size: 32px;
     }
    
     .icono{
          width: 32px;
          height: 32px;
          margin-bottom: 24px;
          margin-left: 28px;
     }
     .info-contacto{
          font-size: 1.2rem;
     }
     
   }

