body {
    background-color: var(--rosa-3);

}

h1 {
    color: var(--rosa-obscuro);
    text-align: center;
    margin: 6rem auto;
}

li {    
    font-size: 1.8rem;
}


.texto{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 576px) {
  h1{
      font-size: 45px;
  }
 }