/* estilo del banner */
.banner-tienda {   
    position: relative; 
    display: flex;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 0 90px 0;
    margin: 0;
}

.titulo-tienda { /* Estilo de las letras del banner */
    color: var(--rosa-obscuro);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tienda .container-fluid .row { /* estilo de la row que contiene las cards */
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.tienda .container-fluid .row .producto{ /* estilos a las cols que contienen a los productos */
    text-align: center;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;   
    position: relative;
    overflow: hidden;
}

.tienda .container-fluid .row .producto .img-producto img { /* estilo a las imagenes de los productos */
    filter: drop-shadow(0.4rem 0.4rem 0.6rem var(--rosa-2));
    border-radius: 40px;
    left: 0;
    cursor: pointer;    
}

.tienda .container-fluid .row .img-producto { /* para el efecto del hoover */
    position: relative;    
}

.tienda .container-fluid .row .img-producto img.capa { /* para el efecto del hoover */
    border-radius: 42px;
    position: absolute;
    top: 0;
    opacity: 0;    
    transition: opacity 0.3s;
}

.tienda .container-fluid .row .img-producto img.capa > * { /* para el efecto del hoover */
    transform: translateY(20px);
    transition: transform 0.3s;
}

.tienda .container-fluid .row .img-producto img.capa:hover{ /* para el efecto del hoover */
    opacity: 0.85; 
    transform: scale(1.01);
    
}

.tienda .container-fluid .row .img-producto img.capa:hover > *{    /* para el efecto del hoover */
    transition: transform 0.3s;
}

.tienda .container-fluid .row p.nombre-producto { /* estilo para el nombre del producto */   
    font-size: 1.8rem;
    padding-top: 1.8rem; 
}

.tienda .container-fluid p.precio { /* estilo del precio */
    font-size: 1.8rem;
    color: var(--rosa-kitty);
    padding-bottom: 1rem; 
} 

.swal-wide .row {  /* estilo para la row del alert */
    max-width: 100%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.row img.pop-image { /*estilo para a iamgen del alert */
    margin: 1rem;  
    border-radius: 2rem;
    width: 80%;
}

.row .card-text { /* estilo para la card del alert */
    text-align: left;
    width: 80%;
    margin: 1rem;
}

.row .pop-titulo { /* estilo del titulo del alert */
    font-weight: bold;
    color: var(--rosa-obscuro);
}

.row .pop-texto { /* estilo del texto del alert */
    color: var(--gris-kitty);
}

.row .pop-precio { /* precio del alert */
    font-weight: bold;
    color: var(--gris-kitty);
}

@media only screen and (max-width: 768px) {  /* ´para ajistes del responsove */
   
    .swal-wide {
        width: 70% !important;
        padding: 0.2%;
    }

    .row img.pop-image {
        border-radius: 2rem;
        width: 80%;
    }

    .row .card-text {
        text-align: center;
        width: 90%;
    }

    .row .card-text p{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 992px) {
    .banner-tienda {   
        position: relative; 
        display: flex;
        max-width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0 0 90px 0;
        margin: 0;
    }
    
    .titulo-tienda {
        color: var(--rosa-obscuro);
        font-size: 5rem;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .row .card-text {
        text-align: center;
        margin: auto;
    }

}

@media only screen and (max-width: 1473px) {

        .titulo-pop {
           font-size: 1.5rem;
        }

        .pop-texto {
            font-size: 1.5rem;
        }
}