/* Estilos generales del banner del Menú de comestibles */
.banner-menu {   
    position: relative; 
    display: flex;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 0 90px 0;
    margin: 0;
}

/* Estilos del título en el banner del Menú de comestibles */
.titulo-menu {
    color: var(--rosa-obscuro);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Alineación de todo el row de los productos del Menú de comestibles */
.menu .container-fluid .row {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* Alineación de cada uno de los productos del Menú de comestibles */
.producto {
    text-align: center;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;   
    position: relative;
    overflow: hidden;
}

/* Estilos de las imágenes de cada uno de los productos */
.producto .img-producto img {
    filter: drop-shadow(0.4rem 0.4rem 0.6rem var(--rosa-2));
    border-radius: 40px;
    left: 0;   
}

/* Posición de las imágenes de cada uno de los productos para colocarlos debajo de la capa rosa */
.img-producto {
    position: relative;    
}

/* Estilos y posición de la capa rosa para el hover en los productos */
.img-producto img.capa {
    border-radius: 42px;
    position: absolute;
    top: 0; 
    opacity: 0;
    transition: opacity 0.3s;
    /* cursor: url('../img/cursor_kitty.cur'), auto; */
}

/* transición y posición de la capa rosa para el hover en los productos */
.img-producto img.capa > * {
    transform: translateY(20px);
    transition: transform 0.3s;
}

/* Estilos para el hover de la capa rosa en los productos */
.img-producto img.capa:hover{
    opacity: 0.85; 
    transform: scale(1.01);    
}

/* Hover de la capa rosa en los productos */
.img-producto img.capa:hover > *{ 
    transition: transform 0.3s;
}

/* Estilos para el nombre de cada uno de los productos */
.producto p.nombre-producto {    
    font-size: 1.8rem;
    padding-top: 1.8rem; 
}

/* Estilos para el precio de cada uno de los productos */
.producto span.precio {
    font-size: 1.8rem;
    color: var(--rosa-kitty);
    padding-bottom: 1rem; 
} 

.producto p.pesos {
    
    font-size: 1.8rem;
    color: var(--rosa-kitty);
    padding-bottom: 1rem; 
} 

/* Alineación del popup con detalles de cada producto */
.swal-wide .row {
    max-width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Alineación de la imagen del popup con detalles de cada producto */
.row img.pop-image {
    margin-top: 2rem;  
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 80%;
}

/* Alineación del texto general del popup con detalles de cada producto */
.row .card-text {
    text-align: left;
    width: 80%;
}

/* Alineación del título en el popup con detalles de cada producto */
.row .pop-titulo {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--rosa-obscuro);
}

/* Alineación de la descripción en el popup con detalles de cada producto  */
.row .pop-texto {
    font-size: 1.5rem;
    color: var(--gris-kitty);
}

/* Alineación del precio en el popup con detalles de cada producto */
.row .pop-precio {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--gris-kitty);
    margin-bottom: 0;
}

/* Parte responsive del popup con detalles de cada producto */
@media only screen and (max-width: 768px) {
   
    .swal-wide {
        width: 70% !important;
        padding: 0.2%;
    }

    .row img.pop-image {
        border-radius: 2rem;
        width: 80%;
    }

    .row .card-text {
        text-align: center;
        width: 90%;
    }

    .row .card-text p{
        font-size: 1.4rem;
    }
}

/* Parte responsive de toda la página del Menú de comestibles */
@media only screen and (max-width: 992px) {
    .banner-menu {   
        position: relative; 
        display: flex;
        max-width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0 0 90px 0;
        margin: 0;
    }
    
    .titulo-menu {
        color: var(--rosa-obscuro);
        font-size: 5rem;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .producto {
        padding-bottom: 20%;
    }

    .row .card-text {
        text-align: center;
        margin: auto;
    }
}