body {
    cursor: url('/assets/img/cursor_kitty.png'), auto;
}

.banner-menu {   
    position: relative; 
    display: flex;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 0 90px 0;
    margin: 0;
}

.titulo-menu {
    color: var(--rosa-obscuro);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .container-fluid .row {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.menu .container-fluid .row .producto{
    text-align: center;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;   
    position: relative;
    overflow: hidden;
}

.menu .container-fluid .row .producto .img-producto img {
    filter: drop-shadow(0.4rem 0.4rem 0.6rem var(--rosa-2));
    border-radius: 40px;
    left: 0;
    cursor: pointer;    
}

.menu .container-fluid .row .img-producto {
    position: relative;    
}

.menu .container-fluid .row .img-producto img.capa {
    border-radius: 42px;
    position: absolute;
    top: 0; 
    opacity: 0;
    transition: opacity 0.3s;
    cursor: url('/assets/img/cursor_kitty.png'), auto;
}

.menu .container-fluid .row .img-producto img.capa > * {
    transform: translateY(20px);
    transition: transform 0.3s;
}

.menu .container-fluid .row .img-producto img.capa:hover{
    opacity: 0.85; 
    transform: scale(1.01);
    
}

.menu .container-fluid .row .img-producto img.capa:hover > *{   
    transition: transform 0.3s;
}

.menu .container-fluid .row p.nombre-producto {    
    font-size: 1.8rem;
    padding-top: 1.8rem; 
}

.menu .container-fluid p.precio {
    font-size: 1.8rem;
    color: var(--rosa-kitty);
    padding-bottom: 1rem; 
} 

.swal-wide .row {
    max-width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.row img.pop-image {
    margin-top: 2rem;  
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 80%;
}

.row .card-text {
    text-align: left;
    width: 80%;
}

.row .pop-titulo {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--rosa-obscuro);
}

.row .pop-texto {
    font-size: 1.5rem;
    color: var(--gris-kitty);
}

.row .pop-precio {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--gris-kitty);
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
   
    .swal-wide {
        width: 70% !important;
        padding: 0.2%;
    }

    .row img.pop-image {
        border-radius: 2rem;
        width: 80%;
    }

    .row .card-text {
        text-align: center;
        width: 90%;
    }

    .row .card-text p{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 992px) {
    .banner-menu {   
        position: relative; 
        display: flex;
        max-width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0 0 90px 0;
        margin: 0;
    }
    
    .titulo-menu {
        color: var(--rosa-obscuro);
        font-size: 5rem;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu .container-fluid .row .producto {
        padding-bottom: 20%;
    }

    .row .card-text {
        text-align: center;
        margin: auto;
    }
}