

/* =======================================SECCION 1 CAROUSEL======================================== */

.carousel-inner{
    max-height: 80%;
    border: none;
}
#img-size-carousel{
    width: 100%;
    display: block;
}

.carousel-header{
    text-align: center;
    font-size: 9vw;
    margin-top: 3%;
}

.carousel-subheaders{
    text-align: center;
    font-size: 9vw;
    margin-top: 11%;
}

.carousel-subheaders-3rdSlide{
    text-align: center;
    font-size: 8vw;
    margin-top: 11%;
    margin-bottom: 2%;
}

.btn-align{
    align-items: center;
}

.logo-inicio-carrusel{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 5%;
    background: none;
    
}

.btn-font-main-header{
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    background-color: #FA94A2;
    border-width: thin;
    border: none;
    margin-top: 5%;
    border-radius: 1rem;
}

.btn-font-subheaders{
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    background-color: #FA94A2;
    border-width: thin;
    border: none;
    margin-top: 11%;
    border-radius: 1rem;
}

@media (min-width: 0px) {
    .objects-hidden {
      display: none;
    }
  }
  @media (min-width: 750px) {
    .objects-hidden {
      display:flex;
    }
  }


/* =====SECCIÓN 2 PREVIEW PRODUCTOS======== */
.margen-inf-btn-orejas{
    margin-bottom: 7%;
}

/*Colocar opacidad a background*/
.products-background-img{
    background: var(--rosa-4);
    position: relative;
}
.products-background-img::before{
    background: url("../img/pastelitos-long.png");
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
}
/*-------------------------------------------*/

#pastel-menu-preview{
    width: 60%;
    height: auto;
    clip-path: circle();
    display: block;
    margin: auto;
}

#articulos-preview{
    width: 60%;
    height: auto;
    clip-path: circle();
    display: block;
    margin: auto;
}

#title-items-preview{
    margin: 8rem 17rem;
    text-align: center;
}

#buttons-home{
    margin: 0 30rem;
    display: block;
}

.ears-banner-img{
    width: 60%;
    height: auto; 
}

.div-ears-banner{
    position: relative;
    display: inline-block;
    margin-left: 28%;
    margin-top: 5%;

}

.texto-banner-encima-centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -20%);
    text-align: center;
    font-size: 2vw;
}

/* =====SECCIÓN 3 CARRUSEL INFERIOR ======== */

.carrusel-team {
    padding-top: 2%;
    text-align: center;
}

.carrusel-team-kitty {
    padding-top: 2%;
    padding-bottom: 0%;
}

.carrusel-team-kitty img{
    width: 30%;    
}

.carrusel-team-kitty a{
    text-decoration: none;   
}

.carrusel-team-kitty h1{
    color: var(--gris-kitty);
    font-size: 8rem;    
}

.carrusel-team-img {
    border-radius: 20%;
    width: 100%;
    padding: 10%;
}

.slider {    
    padding: 0%;
    width: 80%;
    margin: 0% auto;
}